html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #1a1a1a;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 20px;
    justify-content: center;
    z-index: 5;

}

nav ul {
    text-align: center;
    background-color: #02182ee7;
    border-radius: 50px;
    width: fit-content;
    box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);

}


nav ul li {
    display: inline-block;
    padding: 6px;

}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 14px 16px;
    font-weight: 800;
    color: #b4b4b4f3;
}

nav ul li a:hover {
    color: white;
}

nav ul li a.current {
    background: rgb(5, 63, 121);
    background: radial-gradient(circle, rgba(5, 63, 121, 1) 20%, rgba(32, 82, 130, 1) 93%);
    color: white;
    box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.41);
}



section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    padding: 200px 0px 125px 0px;
    flex-direction: column;
    background-image: linear-gradient(to top, #064789 0%, #0e5caa 70%);
    color: #ebf2fa;

    @media (max-width: 500px) {
        padding: 150px 0px 125px 0px;
    }
}


#about .about-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 30px;
    max-width: 850px;
}

.name {
    display: flex;
    align-items: center;
    gap: 12px;

}

.name img {
    width: 42px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #EBF2FA;
    border-style: solid;
}

.name p {
    font-size: 16px;
    font-weight: 500;
}

.about-title {
    font-size: 32px;
    font-weight: 700;
}

.about-container .about-text {
    font-size: 16px;
    margin-top: -8px;
    font-weight: 400;
    line-height: 1.7;
}

.links {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-left: -8px;

}

.links a {
    text-decoration: none;
    color: #ebf2fa;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 15px;
    border-radius: 20px;

    @media (max-width: 600px) {
        font-size: 0px;
    }
}

.links a:hover {
    text-decoration: none;
    color: #1a538d;
    background-color: #ebf2fad0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.links i {
    font-size: 23px;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -2px;
}




.waves {
    aspect-ratio: 960/299;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/layered-waves-haikei\(10\).svg');
}

#experience {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.timeline {
    width: 75%;
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #064789;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}


.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.timeline-content h2 {
    font-weight: 500;
    font-size: 17px;
    margin-top: 2px;
    margin-bottom: 6px;
    line-height: 22px;
}

.timeline-content h2 strong {
    font-weight: 600;
}

.timeline-content p {
    font-size: 16px;
    line-height: 1.65;
    font-weight: 300;
}

.link-div {
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: -3px;
}

.timeline-content a {
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 12px;
    color: #ebf2fa;
    border: 2px solid #ebf2faf6;
    transition: font-size .3s;
    font-weight: 500;
    font-size: 15px;
}

.timeline-content a:hover {
    background-color: rgba(255, 255, 255, 0.103);
    font-size: 15.5px;
    color: white;
}

.timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: white;
}

.timeline .end {
    background-color: white;
}

@media only screen and (min-width: 850px) {
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 97%;
        background-color: #427AA1;
        border-radius: 20px;
        padding-bottom: 25px;
    }

    .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #ebf2fa;
        top: 0px;
        border-style: solid;
        border-width: 3px;
        border-color: #427AA1;
    }


    .timeline ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline-content .date {
        position: absolute;
        top: -30px;
        color: #042649;
    }

    .timeline .end {
        background-color: white;
    }

    .timeline .end::before {
        margin-top: 20px;
    }

}


#projects {
    padding: 150px 0px 85px 0px;
    flex-direction: column;
}

.project-container {
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    column-gap: 25px;
    row-gap: 30px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1800px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 10px;
    color: inherit;
    transition: transform .3s, box-shadow 0.4s ease-in-out;
}

.project-link:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.29) 0px 5px 15px;
}

.project-box {
    text-align: left;
}


.project-box h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 12px;
}

.project-box h2 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 3px;
    padding-bottom: 20px;
}

.project-box img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    overflow: none;
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    width: 80%;
    margin: auto;
    border: 1px solid #0000009a;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact {
    display: block;
    width: 80%;
    margin: auto;
    padding: 15px 0px 120px 0px;
    color: #000000af;
    font-size: 14px;


}

.contact-info {
    float: left;
}

.links2 {
    float: right;
    display: flex;
    gap: 30px;
}

@media (max-width: 900px) {
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-info {
        float: none;
    }

    .links2 {
        float: none;
        margin-top: 10px;
    }
}

.links2 a {
    text-decoration: none;
    color: #000000af;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 20px;

    @media (max-width: 600px) {
        font-size: 0px;
    }
}

.links2 a:hover {
    text-decoration: none;
    color: #000000e1;
    background-color: #0000000c;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.links2 i {
    font-size: 23px;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -2px;
}